<style>
  .navigation-bar {
    margin-top: 20px;
    margin-right: 8px; /* Personalized */
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
  }

  .navigation-bar ul {
    cursor: default;
    list-style: none;
    padding-left: 0;
    justify-content: right;
    display: flex;
    overflow-x: visible;
  }

  .navigation-bar li.icon a {
    display: block;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 0px;
    margin-right: -2px;
    display: inline;
    float: left;
    justify-content: center;
    font-weight: bold;
    color: white;
  }

  .navigation-bar li.icon a:hover {
    background-color: grey;
  }

  .navigation-bar li.icon a span {
    margin-right: 5px;
  }
</style>

<div class="navigation-bar">
  <!-- Navigation -->
  <ul>
    <!-- Home -->
    <li class="icon">
      <a href="https://dorianb.net">
        <span class="fa fa-home"></span>
        Home
      </a>
    </li>

    <!-- Blog -->
    <li class="icon">
      <a href="https://dorianb.net/blog">
        <span class="fa fa-book"></span>
        Blog
      </a>
    </li>

    <!-- Talks -->
    <li class="icon">
      <a href="https://dorianb.net/talks">
        <span class="fa fa-solid fa-comment"></span>
        Talks
      </a>
    </li>

    <!-- Toolbox -->
    <li class="icon">
      <a href="https://dorianb.net/toolbox">
        <span class="fa fa-archive"></span>
        Toolbox
      </a>
    </li>
  </ul>
</div>
