.danger,
.note,
.warning {
  background: var(--body-background);
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  margin-left: 0;
  padding: 0.5rem 1rem;
  font-style: italic;
}

.warning {
  border-left-color: #ffbb00;
  &:before {
    content: "WARNING: ";
    font-weight: bold;
  }
}

.note {
  border-left-color: var(--accent-color-darker);
  &:before {
    content: "NOTE: ";
    font-weight: bold;
  }
}

.danger {
  border-left-color: #ee0000;
  &:before {
    content: "DANGER: ";
    font-weight: bold;
  }
}

.todo {
  opacity: 0.5;
  font-style: italic;
  padding-left: 30px;
  &:before {
    content: "TODO: ";
    font-weight: bold;
    /* color: #663399; */
  }
}

.article-content .label {
  margin-top: -15px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
  color: var(--card-text-color-secondary);
}

.article-content {
  text-justify: auto;
  text-align: justify;
  print-color-adjust: economy;
}

.article-content td {
  text-align: center;
  vertical-align: middle;
}

.article-content th {
  text-align: center;
  vertical-align: middle;
}

.article-content .lntd {
  text-justify: none;
  text-align: start;
}

details {
  /* background: var(--body-background); */
  background: #111111;
  /* background: #222222; */
  /* background: #2c3442; */
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-left: calc((var(--card-padding)) * -1);
  margin-right: calc((var(--card-padding)) * -1);
  width: calc(100% + var(--card-padding) * 2);
  padding: 0px;
}

summary {
  /* background: #2f3d55; */
  background: #2e2e2e;
  display: flex;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

summary .title {
  width: 100%;
}

details[open] summary {
  border-bottom: 1px solid #4a4a4a;
}

details summary .additional {
  display: none;
}

details[open] summary .additional {
  display: inline-block;
}

summary::after {
  content: "▶";
  text-align: right;
}
details[open] summary:after {
  content: "▼";
  text-align: right;
}

details > summary {
  list-style: none;
}

details p {
  padding: 1rem 1rem;
  margin: 0px;
}

.article-content details .highlight {
  width: 100%;
  margin: 0px;
}

summary::-webkit-details-marker {
  display: none;
}

.article-content blockquote:before {
  display: block;
  margin-bottom: -70px;
  content: "\201C";
  font-size: 80px;
  color: #7a7a7a;
}

.article-content blockquote p {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.article-content blockquote:after {
  display: block;
  margin-right: 30px;
  content: "\201D";
  font-size: 80px;
  margin-bottom: -35px;
  margin-top: -35px;
  margin-right: -4px;
  color: #7a7a7a;
  text-align: end;
}

.article-content .block {
  position: relative;
  border-inline-start: var(--blockquote-border-size) solid
    var(--card-separator-color);
  padding: 15px calc(var(--card-padding) - var(--blockquote-border-size));
  background-color: var(--blockquote-background-color);
  margin-left: calc((var(--card-padding)) * -1);
  margin-right: calc((var(--card-padding)) * -1);
  width: calc(100% + var(--card-padding) * 2);
}

[data-scheme="light"] .article-content .mermaid {
  background-color: #222222;
}

.article-content .mermaid {
  text-align: center;
}

/*
* Print support, any class in this section will be removed when printing (e.g. to PDF).
*/
@media print {
  .right-sidebar,
  .left-sidebar,
  .sidebar,
  .menu,
  .star,
  .site-footer,
  .article-tags,
  .article-category,
  .related-content--wrapper,
  .related-content,
  .article-footer,
  .footer,
  .giscus,
  .no-print,
  #stars,
  #print,
  #sidebars-control,
  .navigation-bar {
    display: none;
  }
  .article-page .main-article {
    box-shadow: unset;
  }
  body {
    zoom: 75%;
  }
  blockquote,
  table,
  figure {
    page-break-inside: avoid;
  }
  .mermaid {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }
}
