.danger,
.note,
.warning {
  background: var(--body-background);
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  margin-left: 0;
  padding: 0.5rem 1rem;
  font-style: italic;
}

.warning {
  border-left-color: #ffbb00;
  &:before{
    content: "WARNING: ";
    font-weight: bold;
  }
}

.note {
  border-left-color: var(--accent-color-darker);
  &:before{
    content: "NOTE: ";
    font-weight: bold;
  }
}

.danger {
  border-left-color: #ee0000;
  &:before{
    content: "DANGER: ";
    font-weight: bold;
  }
}

.todo{
  opacity: 0.5;
  font-style: italic;
  padding-left: 30px;
  &:before{
    content: "TODO: ";
    font-weight: bold;
    /* color: #663399; */
  }
}

.article-content {
  text-justify: auto;
  text-align: justify;
  print-color-adjust: economy;
}

.article-content td {
  text-align: center;
  vertical-align: middle;
}

.article-content th {
  text-align: center;
  vertical-align: middle;
}

.article-content .lntd {
  text-justify: none;
  text-align: start;
}

/*
* Print support, any class in this section will be removed when printing (e.g. to PDF).
*/
@media print {
    .right-sidebar, .left-sidebar, .sidebar, .menu, .star, .site-footer, .article-tags, .article-category, .related-content--wrapper, .related-content, .article-footer, .footer, #print, #sidebars-control { display: none }
    .article-page .main-article { box-shadow: unset }
    body { zoom: 75%; }
    table, figure { page-break-inside: avoid; }
}
