.danger,
.note,
.warning {
  background: var(--body-background);
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  margin-left: 0;
  padding: 0.5rem 1rem;
  font-style: italic;
}

.warning {
  border-left-color: #ffbb00;
  &:before {
    content: "WARNING: ";
    font-weight: bold;
  }
}

.note {
  border-left-color: var(--accent-color-darker);
  &:before {
    content: "NOTE: ";
    font-weight: bold;
  }
}

.danger {
  border-left-color: #ee0000;
  &:before {
    content: "DANGER: ";
    font-weight: bold;
  }
}

.todo {
  opacity: 0.5;
  font-style: italic;
  padding-left: 30px;
  &:before {
    content: "TODO: ";
    font-weight: bold;
    /* color: #663399; */
  }
}

.article-content .label {
  margin-top: -15px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
  color: var(--card-text-color-secondary);
}

.article-content {
  text-justify: auto;
  text-align: start;
  print-color-adjust: economy;
}

.article-content td {
  text-align: center;
  vertical-align: middle;
}

.article-content th {
  text-align: center;
  vertical-align: middle;
}

.article-content .lntd {
  text-justify: none;
  text-align: start;
}

details {
  /* background: var(--body-background); */
  background: #111111;
  /* background: #222222; */
  /* background: #2c3442; */
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-left: calc((var(--card-padding)) * -1);
  margin-right: calc((var(--card-padding)) * -1);
  width: calc(100% + var(--card-padding) * 2);
  padding: 0px;
}

summary {
  /* background: #2f3d55; */
  background: #2e2e2e;
  display: flex;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

summary .title {
  width: 100%;
}

details[open] summary {
  border-bottom: 1px solid #4a4a4a;
}

details summary .additional {
  display: none;
}

details[open] summary .additional {
  display: inline-block;
}

summary::after {
  content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2212%22%20height=%2212%22%20viewBox=%220%200%2012%2012%22%20fill=%22none%22%20color=%22white%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22feather%20feather-chevron-down%22%3E%3Cpolyline%20points=%223%204%206%207%209%204%22%3E%3C/polyline%3E%3C/svg%3E%0A");
  text-align: right;
}
details[open] summary:after {
  content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2212%22%20height=%2212%22%20viewBox=%220%200%2012%2012%22%20fill=%22none%22%20color=%22white%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22feather%20feather-chevron-up%22%3E%3Cpolyline%20points=%229%207%206%204%203%207%22%3E%3C/polyline%3E%3C/svg%3E%0A");
  text-align: right;
}

details > summary {
  list-style: none;
}

details p {
  padding: 1rem 1rem;
  margin: 0px;
}

.article-content details .highlight {
  width: 100%;
  margin: 0px;
}

summary::-webkit-details-marker {
  display: none;
}

.article-content blockquote:before {
  display: block;
  margin-bottom: -70px;
  content: "\201C";
  font-size: 80px;
  color: #7a7a7a;
}

.article-content blockquote p {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.article-content blockquote:after {
  display: block;
  margin-right: 30px;
  content: "\201D";
  font-size: 80px;
  margin-bottom: -35px;
  margin-top: -35px;
  margin-right: -4px;
  color: #7a7a7a;
  text-align: end;
}

.article-content .block {
  position: relative;
  border-inline-start: var(--blockquote-border-size) solid
    var(--card-separator-color);
  padding: 15px calc(var(--card-padding) - var(--blockquote-border-size));
  background-color: var(--blockquote-background-color);
  margin-left: calc((var(--card-padding)) * -1);
  margin-right: calc((var(--card-padding)) * -1);
  width: calc(100% + var(--card-padding) * 2);
}

[data-scheme="light"] .article-content .mermaid {
  background-color: #222222;
}

.article-content .mermaid {
  text-align: center;
}

.article-new {
  margin-left: auto;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 5px;
  position: relative;
  display: inline-block;
  animation: animeNew 1.5s infinite alternate;
  text-shadow: gray 1px 0 5px;
}

@keyframes animeNew {
  from {
    transform: scale(0.7);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.box {
  background-color: #222222;
  border: 1px solid #888888;
  border-radius: 10px;
  padding: 10px;
}

.message {
  background: #111111;
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  padding: 0px;
}

.message .title {
  background: #2e2e2e;
  display: flex;
  padding: 2px 0px 2px 5px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.message p {
  padding: 1rem 1rem;
  margin: 0px;
}

.drawio {
  text-align: center;
  vertical-align: middle;
}

.drawio svg {
  width: 100%;
}

.drawio svg .svg-pan-zoom-control-background {
  fill: black;
}

.drawio svg .svg-pan-zoom-control-element {
  fill: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline dotted #777;
  text-underline-offset: 2px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.5s;
  font-style: italic;
  outline: solid 1px #777;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.article-content code {
  color: var(--pre-text-color);
  background-color: var(--pre-background-color);
  /* color: black; */
  /* background-color: #999; */
}

li {
  list-style-type: circle;
}

/*
* Print support, any class in this section will be removed when printing (e.g. to PDF).
*/
@media print {
  .right-sidebar,
  .left-sidebar,
  .sidebar,
  .menu,
  .star,
  .site-footer,
  .article-tags,
  .article-category,
  .related-content--wrapper,
  .related-content,
  .article-footer,
  .footer,
  .giscus,
  .no-print,
  #stars,
  #print,
  #sidebars-control,
  .navigation-bar {
    display: none;
  }
  .article-page .main-article {
    box-shadow: unset;
  }
  body {
    zoom: 75%;
  }
  blockquote,
  table,
  figure {
    page-break-inside: avoid;
  }
  .mermaid {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }
}
